.container_2 {
    padding-left: 80px;
    padding-right: 80px;
    position: relative;

    .wrapper {
        background-image: url(../../../assets/images/mainBackGround.png), linear-gradient(360deg, #7E6AF3 15.95%, #6540CD 63.1%);
        mix-blend-mode: overlay;
        border-radius: 0px 0px 40px 40px;
        height: 430px;


        &-2 {
            margin-top: 85px;
        }

        .title {
            color: #FFFFFF;
            margin-top: 0;
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            padding-top: 83px;
            padding-bottom: 51px;

            span {
                color: #FFD54F;
            }
        }

        .ul {
            display: flex;
            list-style: none;
            margin-bottom: 0px;
            padding: 0;
            margin-left: 109px;

            li {
                padding: 13px 20px 13px 20px;
                color: white;
                cursor: pointer;
                background: rgba(45, 57, 136, 0.5);
                border-radius: 0px 0px 0px 0px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;

                &:first-child {
                    border-radius: 10px 0px 0px 0px;
                }

                &:last-child {
                    border-radius: 0px 10px 0px 0px;
                }
            }

            .active {
                padding: 13px 20px 13px 20px;
                background-color: white;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #664EF9;



                .active:first-child {
                    border-radius: 10px 0px 0px 0px;
                }
            }
        }

        .select {
            display: flex;
            width: 1062px;
            height: 100px;
            background-color: #FFFFFF;
            margin: 0 auto;
            border-radius: 0 10px 10px 10px;

            &_item {
                border-right: 1px solid #BDBDBD;
                padding: 0px 20px 0px 20px;
                margin-top: 16px;
                margin-bottom: 16px;
                width: 150px;

                &:last-child {
                    border-right: none;
                    width: 247px;
                    display: flex;
                }

                .city {
                    width: 150px;
                    border: 2px solid #F8F8F8;
                    background: #F8F8F8;
                    border-radius: 20px;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #686868;

                    &:hover {
                        outline: none;
                        background: rgba(102, 78, 249, 0.1);
                        transition: all 0.2s;
                    }

                    &:active,
                    &:focus {
                        outline: rgba(102, 78, 249, 0.8);
                        border: 2px solid rgba(102, 78, 249, 0.8);
                        filter: drop-shadow(0px 5px 15px rgba(135, 124, 202, 0.25));
                    }


                    &_wrapper {
                        padding: 9px 12px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                    }

                    &-p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #1E2123;
                        padding-top: 10px;


                        &:last-child {
                            padding-bottom: 10px;
                        }
                    }

                }

                .rooms {
                    &-p {
                        color: black;
                        margin: 0;
                        padding-top: 10px;

                        &:last-child {
                            padding-bottom: 10px;
                        }
                    }
                }


                &-title {
                    margin: 0;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #BDBDBD;
                    margin-bottom: 10px;
                }

                &_cost {
                    width: 175px;
                }

                input {
                    width: 62px;
                    height: 33px;
                    border-radius: 20px;
                    background: #F8F8F8;
                    border: 1px solid #F8F8F8;
                    color: #686868;
                    padding-left: 14px;

                    &::-webkit-input-placeholder {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                    }


                    &:focus {
                        outline: none;
                    }
                }
            }

            .more {
                display: flex;
                align-items: center;

                img {
                    margin-left: 4px;
                }

                &_two {
                    display: flex;
                    align-items: center;
                    width: 260px;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 36px;
                        border-radius: 22px;
                        background: #FFD54F;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        width: 123px;
                        height: 37px;
                        cursor: pointer;
                        border: none;

                        img {
                            filter: invert(1)
                        }
                    }

                    img {
                        margin-left: 5px;
                    }
                }
            }

            &_active {
                width: 150px;
                border: 2px solid rgba(102, 78, 249, 0.8);
                background: #F8F8F8;
                border-radius: 20px;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #686868;
            }
        }





    }

    .wrapper_2 {
        display: flex;
        margin-top: 86px;

        .cards {
            display: flex;
            margin-bottom: 114px;

            &_wrapper {
                display: flex;
                filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));

                .apartment {
                    background-image: url(../../../assets/images/apartments-day.jpg);
                    width: 516px;
                    height: 270px;
                    border-radius: 10px;
                }

                .cottages {
                    background-image: url(../../../assets/images/cottagesAndestates.jpg);
                    width: 407px;
                    height: 270px;
                    border-radius: 10px;
                    margin-left: 30px;
                    cursor: pointer;
                }

                .bathHouse {
                    background: url(../../../assets/images/bath.png);
                    width: 407px;
                    height: 270px;
                    border-Radius: 10px;
                    cursor: pointer;
                }

                .cars {
                    background: url(../../../assets/images/cars.jpg);
                    width: 516px;
                    height: 270px;
                    border-radius: 10px;
                    margin-left: 30px;
                    cursor: pointer;

                }

                .title-2 {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding-left: 37px;
                    padding-top: 37.5px;
                    padding-bottom: 21px;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: uppercase;
                    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .subtitle-2 {
                    padding-left: 37px;
                    padding-bottom: 21px;
                    margin: 0px;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 30px;
                    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                    color: #FFFFFF;
                }

                .ul-2 {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    align-items: center;
                    padding-left: 37px;
                    width: 365px;
                    height: 80px;
                    margin: 0px;

                    li {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(255, 255, 255, 0.7);
                        background-color: #664EF9;
                        border-radius: 16px;
                        padding: 8px 14px;
                        margin-left: 16px;
                        margin-bottom: 14px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }

                    #li_brest {
                        margin-left: 0px;
                    }

                    li:hover {
                        background: #612BFB;
                        color: #FFFFFF;
                        transition: all 0.5s ease;
                    }

                    li:first-child {
                        margin-left: 0px;
                    }
                }
            }

            .gaps {
                position: absolute;
                top: 1125px;
            }
        }
    }


    .desc {
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 15px;
        }

        div {
            margin-bottom: 40px;
        }

        p {
            display: flex;
            justify-content: space-between;
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FEB700;
            margin-bottom: 10px;
            transition: all 0.8s ease;
            cursor: pointer;
        }

        p:hover {
            margin-left: 0px;
            margin-left: 10px;
            transition: all 0.6s ease;
        }

        select {
            border: none;
            outline: none;
            color: #FEB700;
            border-bottom: 1px solid #FEB700;
            padding-bottom: 3px;
            cursor: pointer;

            option {
                padding: 0;
            }
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #BDBDBD;
        }

        margin-left: 30px;
    }

    &-3 {
        display: flex;
        justify-content: space-between;
        margin-top: 11px;
        padding-left: 80px;

        .title-3 {
            margin: 0;
            margin-top: 31px;
            margin-bottom: 15px;
            background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
        }

        .subtitle-3 {
            margin: 0;
            margin-bottom: 60px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
        }

        .flat-Wrap {
            position: absolute;
            display: flex;
            width: 1278px;
            justify-content: space-between;
            z-index: 10;
        }

        .offers {
            h1 {
                font-weight: 700;
                font-size: 60px;
                line-height: 73px;
                color: #1E2123;
                margin: 0;
                border-right: 2px solid rgba(148, 175, 255, 0.1);

                span {
                    color: #664EF9;
                }
            }

            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #8291A3;
                opacity: 0.6;
                margin: 0;
                padding-right: 15px;
            }
        }

        .offers-button {
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            color: #FFFFFF;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
            box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
            border-radius: 17px;
            cursor: pointer;
            outline: none;
            border: none;
            padding: 10px 0px 10px 18px;
            display: flex;
            align-items: center;
            margin-left: 25px;


            &:hover {
                background: linear-gradient(90deg, #867CFC 0%, #6929F3 94.5%);
            }

            img {
                margin-left: 12px;
                padding-right: 25px;
            }
        }

        .wrapper-3 {
            background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
            opacity: 0.1;
            border-radius: 40px 0px 0px 0px;
            width: 848px;
            height: 970px;
            z-index: -5;


        }



        .chevrons {
            position: absolute;
            bottom: 216px;
            left: 40px;
            display: flex;

            div {
                width: 39px;
                height: 39px;
                border: 1px solid #664EF9;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: rgba(102, 78, 249, 0.1);

                }


                &:first-child {
                    margin-right: 13px;

                    img {
                        transform: rotate(90deg);
                    }

                }

                &:last-child {
                    img {
                        transform: rotate(-90deg);
                    }
                }
            }

        }
    }

}

.drop-down {
    position: absolute;
    top: 58px;
    left: 326px;
    display: flex;
    z-index: 10;

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.1);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 185px;
        height: 40px;
        margin-left: 30px;
        cursor: pointer;


        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #686868;

        }

        &_wrap {
            margin-left: 14px;
            display: flex;
            align-items: center;
        }
    }

    &-active {
        display: block;
        position: absolute;
        left: 10%;
        top: 120%;
        background: white;
        border-radius: 10px;
        width: 165px;

        div:hover {
            background: #F8F8F8;
            border-radius: 10px;
        }

        p {
            cursor: pointer;
            color: #1E2123;
            padding: 10px 0px 10px 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &-unactive {
        display: none;
    }
}