.container {
    width: 406px;
    height: 522px;
    filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
    background: #FFFEFE;
    border-radius: 10px;
    z-index: 5;

    &:nth-child(2) {
        margin: 0px 30px;
    }


    &:nth-child(3n + 2) {
        margin: 0px 30px;
    }


    .wrapper_inner {
        position: relative;

        .gold {
            position: absolute;
            color: #FFFFFF;
            text-shadow: 0px 1px 0px rgba(147, 79, 0, 0.3);
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            padding: 7.5px 12px;
            background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
            border-radius: 0px 10px 10px 10px;
            top: 0px;
            right: 0px;
        }

    }

}

.img {
    background: #E4E2E2;
    width: 406px;
    height: 226px;
    display: flex;
    position: relative;
    border-radius: 10px;

    img {
        border-radius: 10px;
    }
}

.desc {
    background: #F8F8F8;
    border-radius: 18px;
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 7px;
    padding: 0px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
    margin-bottom: 14px;
    height: 34px;

    &:first-child {
        margin-left: 0px;
    }
}


.modal {
    width: 274px;
    height: 297px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
    border-radius: 10px;
    position: absolute;
    bottom: 75px;
    right: 184px;

    &__desc {

        display: flex;
        flex-direction: column;
        align-items: center;

        .owner__title {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #BDBDBD;
            margin-bottom: 5px;
        }

        .owner__info {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            color: #1E2123;
            margin-bottom: 18px;

            a {
                text-decoration: none;
                color: #1E2123;
            }

        }

        .owner__email {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #664EF9;
        }

        .socials {
            display: flex;
            margin-top: 27px;

            div {
                border-radius: 50%;
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:nth-child(2) {
                    margin: 0 20px;
                }

                img {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }


    &__img {
        border: 4px solid rgb(102, 78, 249);
        border-radius: 50%;
        width: 59px;
        height: 59px;
        margin: 26px 103px 15px;

        img {
            border-radius: 50%;
            width: 59px;
            height: 59px;
        }


    }


}

#heart {
    background: rgba(235, 87, 87, 0.1);
    padding: 9px 9px;
    width: 33px;
    height: 33px;
}

.desc_container {
    padding-left: 20px;
    padding-right: 20px;


    &_2 {
        display: flex;
        margin-left: 30px;
    }
}

.wrapper_1 {
    display: flex;
    justify-content: space-between;

    .price {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #664EF9;
        margin-top: 20px;

        p {
            margin: 0px;
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #BDBDBD;
        }
    }
}

.wrapper_2 {
    margin-top: 20px;

    p {
        margin-top: 0px;
        margin-bottom: 11px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;

        span {
            color: #BDBDBD;
            margin-right: 6px;
            margin-left: 30px;
        }
    }
}

.desc_2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8291A3;



    p {
        margin: 0;
        padding-bottom: 12px;
    }

    p:last-child {
        border-bottom: 1px solid #664EF9;
        margin: 0;
        opacity: 0.1;
        padding: 0;
    }
}

.buttons {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: none;
        padding: 10px 15px;
        border-radius: 18px;
        box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
        display: flex;
        cursor: pointer;
    }

    .button_purple {
        background: #FFFFFF;
        color: #664EF9;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        transition: all 0.2s ease;

        &:hover {
            background: #F5F3FF;
        }

        img {
            margin-right: 13px;
        }
    }

    .button_yellow {
        background: rgba(255, 213, 79, 0.1);
        color: #FEC100;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        transition: all 0.2s ease;

        &:hover {
            background: rgba(255, 213, 79, 0.2);
        }
    }
}