.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:hover:checked+label::before {
        border-color: #664EF9;
        background-color: #664EF9;
        background-image: url('../../assets/images/checkbox.png');
    }

    &:checked+label::before {
        border-color: #664EF9;
        background-color: #664EF9;
        background-image: url('../../assets/images/checkbox.png');
    }

    &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        margin-bottom: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1E2123;

        &:hover::before {
            content: '';
            background: rgba(102, 78, 249, 0.1);
            border: 1px solid rgba(102, 78, 249, 0.1);
            background-image: url('../../assets/images/checkbox.png');
            background-repeat: no-repeat;
            background-position: center center;
        }



        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;

        }


    }
}