.background-color {
    background: linear-gradient(1.09deg, #7E6AF3 0.86%, #6540CD 99.01%);
    mix-blend-mode: overlay;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.form-wrapper {
    width: 406px;
    height: 536px;
    background: #FFFEFE;
    box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
    border-radius: 10px;

    h3 {
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin: 50px 0 15px;
    }

    p {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #686868;
        // margin: 0;
    }

    button {
        background: #FFD54F;
        border-radius: 33px;
        border: none;
        cursor: pointer;
        // padding: 12px 159px;
        height: 48px;
        color: #1E2123;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-top: 38px;
        margin-bottom: 40px;
    }
}

.input-wrapper {
    width: 306px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #F7F7F7;
    border: 2px solid rgba(78, 100, 249, 0.8);


    &:first-child {
        margin-bottom: 20px;
    }

    img {
        margin-left: 21px;

    }

    input {
        width: 100%;
        border: none;
        border-radius: 30px;
        height: 95%;
        width: 100%;
        padding-left: 16px;
        background: #F7F7F7;

        &:focus {
            border: none;
            outline: none;
        }
    }

}

.checkbox {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;

    input {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
        opacity: 0;


    }

    &-switch {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 34px;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 25%/50%;
        vertical-align: top;
        background: #eee;
        transition: .2s;

        &:before {
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: white;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            transition: .15s;
            margin-top: 1px;
        }
    }

    input:not(:disabled):active+.checkbox-switch:before {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
    }

    input:checked+.checkbox-switch:before {
        transform: translateX(16px);
    }

    input:not(:disabled)+.checkbox-switch {
        cursor: pointer;
    }

    input:disabled+.checkbox-switch {
        filter: grayscale(70%);
        border-color: rgba(0, 0, 0, .1);
    }

    input:disabled+.checkbox-switch:before {
        background: #eee;
    }

    .checkbox.focused .checkbox-switch:before {
        box-shadow: inset 0px 0px 4px #ff5623;
    }
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
    }

    div {
        display: flex;
    }

    .forgot-pass {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        color: #664EF9;
    }
}

.create-acc {
    margin: 0;

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #664EF9;
        cursor: pointer;
    }
}