.container {
    display: flex;
    justify-content: center;

    .chevrons {

        div {
            width: 29px;
            height: 29px;
            background: rgba(255, 255, 255, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            top: 45%;
            cursor: pointer;

            img {
                width: 9px;
                height: 15px;
                user-select: none;
            }

            &:first-child {
                left: 5px
            }

            &:last-child {
                right: 5px;

                img {
                    transform: rotate(180deg);
                    user-select: none;
                }
            }
        }
    }


    .window {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;


        .pages_container {
            display: flex;
            height: 100%;

            transition: translate;
            transition-property: transform;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
        }
    }

    .dots {
        position: absolute;
        bottom: 11px;

        .button {
            width: 8px;
            height: 11px;
            opacity: 0.6;
            border-radius: 100%;
            outline: none;
            border: none;
            cursor: pointer;
            background: #C5C5C5;
            margin-right: 7px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            &_active {
                @extend .button;
                background: #FFFFFF;
                opacity: 1;
            }
        }
    }
}

#card {
    width: 100%;
}

#card_list {
    width: 537px;
    height: 300px;
}