.background {
    background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
    opacity: 0.1;
    width: 100%;
    height: 280px;

    &_2 {
        background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
        opacity: 0.1;
        width: 100%;
        height: 737px;
        margin-top: 65px
    }
}


.container__info {
    position: absolute;
    top: 100px;
    left: 298px;

    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;

    }

    .share {
        display: flex;
        align-items: center;
        margin-left: 355px;

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #1E2123;
        }
    }

    .date {
        color: #664EF9;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        background: rgba(102, 78, 249, 0.1);
        border-radius: 18px;
        padding: 10px 16px;
    }

    .img_wrapper {
        background: rgba(102, 78, 249, 0.1);
        border-radius: 19px;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        cursor: pointer;

    }

    .hotel {
        filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.1));
        border-radius: 10px;
    }




}

.desc {
    width: 844px;
    // height: 576px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 560px auto 0;
}

.wrapper_2 {
    position: relative;

    h3 {
        position: absolute;
        top: 62px;
        left: 81px;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #1E2123;

    }

    .card_wrapper {
        display: flex;
        position: absolute;
        left: 81px;
        top: 136px;
        width: 1279px;

    }
}