.background {
    background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
    opacity: 0.1;
    height: 100%;
}

.container {
    position: absolute;
    top: 45px;
    left: 80px;
    right: 104px;

    h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 100%;
        color: #1E2123;
    }

    .subtitle {

        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .checkbox {
        background: rgba(102, 78, 249, 0.1);
        border-radius: 17px;
        padding: 6px 10px;
        color: #664EF9;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        margin: 15px 15px 0px 0px;

        &_active {
            display: inline-flex;
            align-items: center;
        }

        &:hover {
            background: rgba(102, 78, 249, 0.2);
        }
    }
}

.search {
    height: 82px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
    display: flex;
    padding-left: 75px;

    .buttons {
        padding-left: 50px;
        display: flex;
        align-items: center;

        button {
            font-weight: 600;
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 17px;
            border: none;
            cursor: pointer;
            border-radius: 22px;
            padding: 10px 16px;
        }

        button:first-child {
            margin-right: 30px;
            color: #1E2123;
            background: #F8F8F8;

        }

        button:last-child {
            color: #FFFFFF;
            background: #664EF9;

            img {
                margin-left: 17px;
            }
        }
    }
}

.more_detail {
    width: 1440px;
    height: 314px;
    border: 1px solid rgba(78, 100, 249, 0.1);
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
}

.select {
    display: flex;
    width: 1062px;
    height: 100px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 0 10px 10px 10px;

    &_item {
        border-right: 1px solid rgba(189, 189, 189, 0.4);
        padding: 0px 20px 0px 25px;

        .more {
            display: flex;
            align-items: center;



            img {
                margin-left: 11px;
            }

        }

        &:last-child {
            height: 82px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .city {
            width: 150px;
            border: 2px solid #F8F8F8;
            background: #F8F8F8;
            border-radius: 20px;
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #686868;

            &:hover {
                outline: none;
                background: rgba(102, 78, 249, 0.1);
                transition: all 0.2s;
            }

            &:active,
            &:focus {
                outline: rgba(102, 78, 249, 0.8);
                border: 2px solid rgba(102, 78, 249, 0.8);
                filter: drop-shadow(0px 5px 15px rgba(135, 124, 202, 0.25));
            }


            &-wrapper {
                padding: 9px 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #1E2123;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;

            }

            &-p {
                color: black;
                margin: 0;
                padding-top: 10px;


                &:last-child {
                    padding-bottom: 10px;
                }
            }

        }

        .rooms {
            &-p {
                color: black;
                margin: 0;
                padding-top: 10px;

                &:last-child {
                    padding-bottom: 10px;
                }
            }
        }


        &-title {
            font-weight: 500;
            font-size: 14px;
            margin-right: 20px;
            line-height: 17px;
            color: #664EF9;
        }

        &_cost {
            width: 100%
        }

        input {
            width: 82px;
            height: 33px;
            border-radius: 20px;
            background: #F8F8F8;
            border: 1px solid #F8F8F8;
            color: #1E2123;
            padding-left: 14px;

            &::-webkit-input-placeholder {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #1E2123;

            }

            &:first-child {
                margin-right: 5px;
            }

            &:last-child {
                margin-left: 5px;
            }


            &:focus {
                outline: none;
            }
        }
    }



    &-active {
        width: 150px;
        border: 2px solid rgba(102, 78, 249, 0.8);
        background: #F8F8F8;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #686868;
    }
}


.drop-down {
    position: absolute;
    top: 7%;
    margin-left: 326px;
    display: flex;
    z-index: 10;

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.1);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 185px;
        height: 40px;
        margin-left: 30px;
        cursor: pointer;

        &_wrap {
            margin-left: 14px;
            display: flex;
            align-items: center;
        }
    }

    &-active {
        display: block;
        position: absolute;
        left: 0;
        margin-top: 10px;
        background: white;
        border-radius: 10px;
        width: 165px;

        div:hover {
            background: #F8F8F8;
            border-radius: 10px;
        }

        p {
            cursor: pointer;
            color: black;
            padding: 10px 0px 10px 15px;
            margin: 0;
        }
    }

    &-unactive {
        display: none;
    }
}

.buttons_2 {
    display: flex;
    margin: 21px 80px 83px 100px;

    div {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 18px;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
    }

    p {
        font-size: 14px;
        line-height: 17px;
        color: #1E2123;
    }


    .button_byDefault {
        width: 232px;
        height: 36px;



        p {
            font-weight: 600;
        }

        img:first-child {
            margin: 0px 11px;
        }

        img:last-child {
            margin-left: 67px
        }


    }

    .button_list {
        width: 106px;
        height: 37px;
        margin: 0px 37px 0px 538px;
        background: none;
        box-shadow: none;

        &:hover {
            background: #F8F8F8;
        }

        p {
            font-weight: 500;
        }

        img {
            padding: 0px 10px 0px 15px;
            width: 14px;
            height: 14px;
        }
    }

    .button_tiles {
        background: none;
        box-shadow: none;
        margin-right: 15px;
        width: 106px;

        &:hover {
            background: #F8F8F8;
        }

        p {
            font-weight: 500;
        }

        img {
            margin: 0px 10px;
        }
    }

    .button_map {
        width: 180px;
        height: 37px;
        margin-left: 50px;

        img {
            margin: 0 10px 0px 15px
        }

        ;

        p {
            font-weight: 600;
        }
    }
}


.button_active {
    background: #FFFFFF !important;
    box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1) !important;

    p {
        font-weight: 600 !important;
    }
}

.wrapper {
    display: flex;
    flex-wrap: wrap;

}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #1E2123;
    margin-bottom: 40px;

}

.wrapper_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 81px 51px 80px;

    .share {
        display: flex;
        align-items: center;
        margin-top: 50px;

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #686868;
            margin-right: 20px;
        }

        div {
            background: #F8F8F8;
            border-radius: 25px;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 15px;
        }

        img {
            filter: brightness(0%);

        }
    }
}

.wrapper_3 {
    background-image: url(../../assets/images/mainBackGround.png);
    width: 1440px;
    height: 310px;
    background-size: cover;
}

.background_2 {
    mix-blend-mode: overlay;
    background: linear-gradient(360deg, #7E6AF3 15.95%, #6540CD 63.1%);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;

    .desc {
        position: absolute;
        top: 74px;

        h1 {
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            color: #FFFFFF;
        }

        .subtitle {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            margin: 20px 0px 23px;
        }

        button {


            p {
                transition: all 0.3s ease;
            }

            &:hover {
                p {
                    color: #FEC100;
                }
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 18px;
                gap: 10px;




                p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: black;
                    margin: 0;
                }
            }

            border-radius: 19px;
            cursor: pointer;
            border: none;
        }
    }
}